body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  border-radius: 50%;
  max-width: 100px;
}

.header-info {
  text-align: right;
}

nav {
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

.job {
  margin-bottom: 20px;
}

.skill-icons img {
  max-width: 50px;
  margin-right: 20px;
}

#github-projects {
  display: flex;
  flex-wrap: wrap;
}

#github-projects a {
  flex: 1 0 30%; /* Adjust as needed */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

#github-projects a:hover {
  background-color: #eee;
}

#contact {
  text-align: center;
}

#contact p {
  margin: 10px 0;
  color: #555;
}
